Systack/content/saos/saos-data/customer-dashboard/n8n-email-dispatcher.json
{
  "name": "SAOS Email Notification Dispatcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 60
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8768/api/internal/notifications/pending",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Internal-Api-Key",
              "value": "saos-internal-dev-key"
            }
          ]
        }
      },
      "id": "fetch-notifications",
      "name": "Fetch Pending Notifications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "notifications",
        "options": {}
      },
      "id": "split",
      "name": "Split Notifications",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-email",
              "leftValue": "={{ $json.customer_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "filter",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "sendOptions": {},
        "options": {},
        "fromEmail": "notifications@systack.net",
        "toEmail": "={{ $json.customer_email }}",
        "subject": "SAOS Update: {{ $json.message.substring(0,50) }}",
        "text": "={{ $json.message }}\n\n---\nSAOS Automated Notification\nReply STOP to disable"
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8768/api/internal/notify-client",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "client_id",
              "value": "={{ $json.client_id }}"
            },
            {
              "name": "task_id",
              "value": "={{ $json.task_id }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "urgency",
              "value": "{{ $json.urgency }}"
            },
            {
              "name": "channel",
              "value": "imessage"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Internal-Api-Key",
              "value": "saos-internal-dev-key"
            }
          ]
        }
      },
      "id": "send-imessage",
      "name": "Send iMessage Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Pending Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Notifications": {
      "main": [
        [
          {
            "node": "Split Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Notifications": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send iMessage Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
