Systack/content/saos/saos-data/customer-dashboard/n8n-chat-bridge.json
{
  "name": "SAOS Chat Bridge",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "saos-chat-webhook",
        "responseMode": "responseNode"
      },
      "id": "chat-webhook",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "saos-chat-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming chat message\nconst body = $input.first().json.body;\n\nreturn [{\n  json: {\n    conversation_id: body.conversation_id,\n    client_id: body.client_id,\n    content: body.content,\n    sender: body.sender || 'client'\n  }\n}];"
      },
      "id": "parse-chat",
      "name": "Parse Chat Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:18789/api/v1/sessions/sol/send",
        "method": "POST",
        "body": {
          "message": "=New client message in conversation {{$json.conversation_id}}:\n{{$json.content}}"
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "notify-sol",
      "name": "Notify SOL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-invoice",
              "leftValue": "={{ $json.content.toLowerCase() }}",
              "rightValue": "invoice",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ]
        }
      },
      "id": "route-agent",
      "name": "Route to Agent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "url": "http://localhost:8768/api/chat/webhook/agent-response",
        "method": "POST",
        "body": {
          "conversation_id": "={{ $json.conversation_id }}",
          "agent_name": "SOL",
          "content": "I've received your request and will begin working on it. You can track progress in the Tasks tab."
        }
      },
      "id": "send-ack",
      "name": "Send Acknowledgment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Parse Chat Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Chat Message": {
      "main": [
        [
          {
            "node": "Notify SOL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route to Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Agent": {
      "main": [
        [
          {
            "node": "Send Acknowledgment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Acknowledgment": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify SOL": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
