n8n/stripe-enterprise-webhook.json
{
  "name": "SAOS Enterprise — Stripe Checkout Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-enterprise-checkout",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "stripe-enterprise-checkout"
    },
    {
      "parameters": {
        "jsCode": "const event = $input.first().json.body;\n\n// Only process checkout.session.completed\nif (event.type !== 'checkout.session.completed') {\n  return [{json: {status: 'ignored', reason: event.type}}];\n}\n\nconst session = event.data.object;\nconst metadata = session.metadata || {};\n\n// Verify this is Enterprise tier\nif (metadata.tier !== 'enterprise') {\n  return [{json: {status: 'ignored', reason: 'not enterprise tier'}}];\n}\n\nreturn [{\n  json: {\n    client_id: metadata.client_id || session.customer_details?.email?.split('@')[0]?.toUpperCase() || 'UNKNOWN',\n    customer_email: session.customer_details?.email,\n    customer_name: session.customer_details?.name,\n    stripe_subscription_id: session.subscription,\n    stripe_session_id: session.id,\n    billing_period: metadata.billing || 'monthly',\n    tier: metadata.tier,\n    compliance: metadata.compliance || 'SOC2',\n    locations: (metadata.locations || 'ord').split(','),\n    status: 'checkout_complete'\n  }\n}];"
      },
      "name": "Extract Checkout Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO task_queue (task_type, payload_json, priority, status, max_retries) VALUES ('DEPLOY', '{{ JSON.stringify($json) }}'::jsonb, 9, 'PENDING', 3) RETURNING id"
      },
      "name": "Queue DEPLOY Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"Provisioning queued\", \"task_id\": $json.id}"
      },
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [[{"node": "Extract Checkout Data", "type": "main", "index": 0}]]
    },
    "Extract Checkout Data": {
      "main": [[{"node": "Queue DEPLOY Task", "type": "main", "index": 0}]]
    },
    "Queue DEPLOY Task": {
      "main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": []
}